<a href="https://colab.research.google.com/github/suyangegrong/PA23/blob/main/ch4/ch4_code01_PA23_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch4_code01_PA23_ipynb
## pa23  
- 파이썬 함수
    - 입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 출력
        - 반복되는 부분을 함수로 전환.
        - 코딩을 모듈화
- 매개변수와 인수
- 입력값과 결괏값
    - return
    - 여러 개의 입력을 처리하는 함수(*args)
    - 키워드 파라미터 (kwargs)
    - 매개변수에 초깃값 미리 설정
- lambda 함수 정의

In [ ]:
# ch4_01_function.py
#
print("함수란 무엇인가?")
#######################################
# 입력값을 가지고 어떤 일을 수행한 다음에 
# 그 결과물을 내어놓는 것
#######################################
print("==>> ", "입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것")

print("함수를 사용하는 이유는 무엇일까?")
#######################################
# 반복되는 부분을 함수로 전환.
# 코딩을 모듈화
#######################################

함수란 무엇인가?
==>>  입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것
함수를 사용하는 이유는 무엇일까?

In [ ]:
print("파이썬 함수의 구조")
#######################################
"""
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
"""

파이썬 함수의 구조

'\ndef 함수명(매개변수):\n    <수행할 문장1>\n    <수행할 문장2>\n    ...\n'

In [ ]:
def add(a) :
  print(a)

In [ ]:
add(100),
add("pa23")

100
pa23

In [ ]:
#######################################
# add() 함수를 정의
def add(a, b): 
    return a + b

In [ ]:
# add() 함수를 사용
a=3
b=4
c=add(a,b)
print(c)
d = add(3, 4)
print(d)

# x=[1,2,3]
# y=[4,5,6]
# z=x+y
# print(z)
#

7
7

In [ ]:
x=[1,2,3]
y=[4,5,6]
z=x+y

print(z)

[1, 2, 3, 4, 5, 6]

In [ ]:
z = add(x, y)
print(z)

[1, 2, 3, 4, 5, 6]

In [ ]:
w = add("Hello ", "Python!")
print(w)

Hello Python!

In [ ]:
print("매개변수와 인수의 차이를 이해하자!")
#######################################
# 매개변수는 함수에 입력으로 전달된 값을 받는 변수
# 인수는 함수를 호출할 때 전달하는 입력값을 의미 
#######################################
# add() 함수에서의 매개변수와 인수
"""
def add(a, b):  # a, b는 매개변수
    return a+b
print(add(3, 4))  # 3, 4는 인수
"""

In [ ]:
print(add(a,b))
print(add(3,4))

7
7

In [ ]:
print(add(a,b))
print(add(10,50))

7
60

### 함수의 결괏값 (return ...)

In [ ]:
print("입력값과 결괏값에 따른 함수의 형태")
#######################################
# 입력값 ---> 함수 ----> 결괏값
#######################################
# 일반적인 함수
# 입력값과 결괏값이 있는 함수
"""
def 함수이름(매개변수):
    <수행할 문장>
    ...
    return 결과값
"""

def add2(a, b): 
    result = a + b 
    return result


# 입력값과 결괏값이 있는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)
a = add2(3, 4)
print(a)

입력값과 결괏값에 따른 함수의 형태
7

In [ ]:
#######################################
# 입력값이 없는 함수

def say(): 
    return 'Hi'


# 입력값이 없는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름()
a = say()
print(a)

Hi

In [ ]:
#######################################
# 결괏값이 없는 함수

def add3(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))


# 결괏값이 없는 함수의 사용법
# 함수이름(입력인수1, 입력인수2, ...)
add3(3, 4)

3, 4의 합은 7입니다.

In [ ]:
# 다음 결과는 무엇인가?
a = add3(3, 4)

3, 4의 합은 7입니다.

In [ ]:
print(a)
#

None

In [ ]:
#######################################
# 입력값도 결괏값도 없는 함수

def say2(): 
    print('Hi')


# 입력값도 결괏값도 없는 함수의 사용법
# 함수이름()
say()

'Hi'

In [ ]:
#######################################
print("매개변수의 값을 지정하여 호출하기")
#######################################
def add4(a, b):
    return a+b


result = add4(a=3, b=7)  # a에 3, b에 7을 전달
print(result)
# 매개변수의 순서에 상관없이 사용
# result = add4(b=5, a=3)  # b에 5, a에 3을 전달
# print(result)
#######################################

매개변수의 값을 지정하여 호출하기
10

In [ ]:
result2 = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result2)

8

In [ ]:
result3 = add4(a=3, 7)
print(result3) # positional argument follows keyword argument

SyntaxError: ignored

In [ ]:
result3 = add4(7, a=3)  # add4() got multiple values for argument 'a'
print(result3)

TypeError: ignored

In [ ]:
result3 = add4(b=7, a=3)
print(result3)

10

### *args
- arg : argument

In [ ]:
#######################################
print("입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?")
#######################################
"""
def 함수이름(*매개변수): 
    <수행할 문장>
    ...
"""

def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result

입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [ ]:
add_many(1,2,3)

6

In [5]:
# add_many(1, 2, 3)
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

result = add_many(1,2,3,4,5,6,7,8,9,10)
# print(result)

In [ ]:
add_many(1, 2, 3)
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [6]:
#######################################
print("여러 개의 입력을 처리하는 함수(*args)")
#######################################

def add_mul(choice, *args):
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result 

# add # 더하기
result = add_mul('add', 1,2,3,4,5)
print(result)
# multiply
# result = add_mul('mul', 1,2,3,4,5)
# print(result)

여러 개의 입력을 처리하는 함수(*args)
15

In [7]:
# multiply # 곱하기
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [9]:
def add_mul(choice, *z):  # '*'라는 표시는 어떤 복수 계의 데이터 구조를 담을 수 있는 매개 변수
    if choice == "add":
        result = 0 
        for i in z:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in z: 
            result = result * i 
    return result 

# add # 더하기
result = add_mul('add', 1,2,3,4,5)
print(result)
# multiply
result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

### 키워드 파라미터 **kwargs

In [10]:
#
#######################################
print("키워드 파라미터 **kwargs")
#######################################

def print_kwargs(**kwargs): # '*'가 두 개인 이유는 "kwargs"라는 것을 여러 개의 매개 인수로 정의할 수 있다. 
    print(kwargs)


# print_kwargs 함수는 매개변수 kwargs를 출력하는 함수
#
print_kwargs(a=1)

print_kwargs(name='foo', age=3)

#
# **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 
# kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 
# 그 딕셔너리에 저장된다.
#

키워드 파라미터 **kwargs
{'a': 1}
{'name': 'foo', 'age': 3}

In [11]:
#######################################
print("함수의 결괏값은 언제나 하나")
#######################################
#
def add_and_mul(a,b): 
    return a+b, a*b

# 1,2 == (1,2) 
# add_and_mul() 사용 1.
result = add_and_mul(3,4) # (7,12)

print(result)

함수의 결괏값은 언제나 하나
(7, 12)

In [12]:
# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4)

result1, result2

(7, 12)

### 잘못된 함수 사용

In [13]:
#######################################
print("잘못된 함수")
#######################################
def add_and_mul2(a,b): 
    return a+b 
    return a*b  # Not working!!


result = add_and_mul2(2, 3)
print(result)

잘못된 함수
5

### return의 용도

In [14]:
#######################################
print("return 의 용도: 함수 실행 종료")
#######################################
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)


# say_nick("홍길동")
say_nick("바보")

return 의 용도: 함수 실행 종료

In [16]:
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)

say_nick("홍길동")
say_nick("바보")

나의 별명은 홍길동 입니다.

### 매개변수에 초깃값 미리 설정

In [17]:
#----------------------------------------
#######################################
print("매개변수에 초깃값 미리 설정하기")
#######################################
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
    

say_myself("박응용", 27)

매개변수에 초깃값 미리 설정하기
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [19]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [20]:
say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

In [21]:

def say_myself2(name, man=True, old): # non-default argument follows default argument
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")


# 초깃값을 설정해 놓은 매개변수 뒤에 
# 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다
# 초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.
# 키워드형식의 매개변수는 항상 뒤에 지정.

SyntaxError: ignored

In [23]:
def say_myself2(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")

say_myself2("heeju", 22, False)

나의 이름은 heeju 입니다.
나이는 22살입니다.
여자입니다.

### 함수 안에서 선언한 변수의 효력 범위
- scope of a variable

In [24]:
#######################################
print("함수 안에서 선언한 변수의 효력 범위")
# 전역변수
# 지역 변수, 자동 변수
#######################################

# vartest.py
a = 1   # 전역 변수
def vartest(a):   # 지역변수(매개변수)
    a = a +1

vartest(a)
print(a)

함수 안에서 선언한 변수의 효력 범위
1

In [25]:
a = 1   # 전역 변수
def vartest(a):   # 지역변수(매개변수)
    a = a +1
    print("지역변수 a =", a)

vartest(a)
print("전역변수 a =", a)

지역변수 a = 2
전역변수 a = 1

In [29]:
# vartest_error.py
def vartest2(z):
    z = z + 1

vartest2(3)
print(z)  # Error # name 'z' is not defined

NameError: ignored

In [30]:
#######################################
print("함수 안에서 함수 밖의 변수를 변경하는 방법")
# return 사용
# global 변수 사용
#######################################
# 1. return 사용하기
a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a) 
print(a)

함수 안에서 함수 밖의 변수를 변경하는 방법
2

In [31]:
# 2. global 명령어 사용하기   #(가능한 사용하지 않는다.)
a = 1 
def vartest4(): 
    global a 
    a = a+1

vartest4() 
print(a)

2

## lambda 함수 정의
- 이름 없는 함수를 정의

In [32]:
#--------   lambda  -------------------
#######################################
print("lambda")
#######################################
# lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
# 보통 함수를 한줄로 간결하게 만들 때 사용한다.
#
# lambda 사용법
#
# lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식
#
print("lambda를 이용한 add 함수")

add = lambda a, b: a+b

result = add(3, 4)
print(result)

# lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

lambda
lambda를 이용한 add 함수
7

In [33]:
################################
# lambda 함수의 응용    # 데이터 코딩에 lambda 함수가 유용하게 쓰일 것이다.
#
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])

# So cool!!!

['N-1000', 'T-2000', 'K-3000', 'X-5000']

In [ ]:
# vartest.py
a = 1
def vartest(a):
    a = a +1
    # print(a)

vartest(a)
print(a)

1

In [42]:
# function_test.py

# scope_test()
x = 5


def scope_test():
    print(x)
    print(x+5)
   
x += 5    # local variable 'x' referenced before assignment
scope_test()

UnboundLocalError: ignored

In [43]:
# *args : multiple parameters


def args_test(*args):
    print(type(args))
    print(args)
    for arg in args:
        print(arg)


args_test(1, 2, 3, 4)

<class 'tuple'>
(1, 2, 3, 4)
1
2
3
4

In [44]:
args_test(list(range(4)))

<class 'tuple'>
([0, 1, 2, 3],)
[0, 1, 2, 3]

In [45]:
# **kawargs : keyword arguments


def kwarg_test(**kwargs):
    print(type(kwargs))
    print(kwargs)
    for item in kwargs.items():
        print(item)


kwarg_test(a=1, b='hi')

<class 'dict'>
{'a': 1, 'b': 'hi'}
('a', 1)
('b', 'hi')

In [46]:
kwarg_test(x=[1,2,3], y='Hello')

<class 'dict'>
{'x': [1, 2, 3], 'y': 'Hello'}
('x', [1, 2, 3])
('y', 'Hello')

## 도전 코딩
- A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

> 함수를 사용하여 A 학급의 평균 점수를 구해 보자.
>> 함수명: average_class(A)

In [69]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:

    total += score

average = total/10

print(average)

79.0