# ch2_02_string.py

## 문자열:

In [1]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [2]:
food = 'Python's favorite food is perl'
# 작은 따옴표 대신 큰 따옴표 사용하면 에러 수정 가능

SyntaxError: invalid syntax (<ipython-input-2-7fc616e88098>, line 1)

In [3]:
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

## 문자열: \ 이용

In [5]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

# 이스케이프 코드

## 문자열: 이스케이프 코드 이용

In [6]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

# 여러줄 문자열 처리

In [7]:
multiline = """Life is too short
... You need python
... """
print(multiline)

Life is too short
You need python

## 문자열 연산: 더하기

In [8]:
head = "Python"
tail = " is fun!"
print(head + tail)

Python is fun!

## 문자열 연산: 곱하기

In [9]:
a = "python"
a * 2

'pythonpython'

# multistring.py

In [10]:
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)

==================================================
I am now coding Python!
==================================================

# 내장함수: len()

## 문자열 연산: 길이 구하기 - len()

In [11]:
a = "Life is too short"
print(len(a))

17

# 문자열 인덱싱과 슬라이싱

## 문자열: 인덱싱이란?

In [14]:
a = "Life is too short, You need Python"
print(a[3])
print(a[15])

e
r

# "파이썬은 0부터 숫자를 센다."

## 문자열: 인덱싱 활용

In [15]:
a = "Life is too short, You need Python"
print(a[0])

print(a[12])

print(a[-1])

L
s
n

In [16]:
a = "Life is too short, You need Python"
print(a[-0])
print(a[-2])
print(a[-5])
print(a[-12])

L
o
y

## 문자열: 슬라이싱이란?

In [17]:
a = "Life is too short, You need Python"
# Life를 뽑아낼려면
b = a[0] + a[1] + a[2] + a[3] # 문자열 더하기
print(b)

Life

### slicing (슬라이싱)

In [21]:
a[0:4] # 0 <= index < 4

'Life'

In [22]:
a[0:5]

'Life '

In [23]:
a[5:7]

'is'

In [24]:
a[12:17]

'short'

### :의 사용

In [27]:
a[:4]

'Life'

In [28]:
a[19:]

'You need Python'

In [29]:
a[:17]

'Life is too short'

In [30]:
a[:]

'Life is too short, You need Python'

### a[19:-7] ?

In [31]:
a[19:-7]

'You need'

## 문자열: 슬라이싱 응용?

In [32]:
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20190909
Sunny

In [33]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year,day,weather)

2019 0917 Rainy

## "Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [36]:
a = "Pithon"
a[1] = 'y'
= "Pithon"
a[1] = 'y'
# immutable한 자료형

SyntaxError: invalid syntax (<ipython-input-36-0ecefb35443c>, line 3)

In [54]:
a = "Pithon"
a[:1]

'P'

In [55]:
a[2:]

'thon'

In [56]:
a[:1] + 'y' + a[2:]

'Python'

# ch2_03_string_formating.py

## 문자열: 포매팅이란?

### 1. 숫자 바로 대입

In [38]:
"I eat %d apples." % 3

'I eat 3 apples.'

### 2. 문자열 바로 대입

In [39]:
"I eat %s apples." % "five"

'I eat five apples.'

### 3. 숫자 값을 나타내는 변수로 대입

In [40]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

### 4. 2개 이상의 값 넣기

In [42]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % number , day   # Error

TypeError: not enough arguments for format string

In [43]:
"I ate %d apples. so I was sick for %s days." % (number, day)
# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다.

'I ate 10 apples. so I was sick for three days.'

## 문자열: 포맷 코드

In [58]:
"I have %s apples" % 3

'I have 3 apples'

In [59]:
"rate is %s" % 3.234

'rate is 3.234'

In [46]:
"Error is %d%." % 98 #Error

ValueError: incomplete format

In [47]:
"Error is %d%%." % 98

'Error is 98%.'

## 문자열: 포맷 코드와 숫자 함께 사용하기

### 1. 정렬과 공백

In [60]:
"%10s" % "hi"

'        hi'

In [61]:
"%-10sjane." % "hi"

'hi        jane.'

### 2. 소수점 표현하기

In [62]:
"%0.4f" % 3.42134234

'3.4213'

In [63]:
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

### 1. 숫자 바로 대입하기

In [52]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [53]:
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

### 2. 문자열 바로 대입하기

In [64]:
"I eat {0} apples".format("five")

'I eat five apples'

In [65]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

### 3. 숫자 값을 가진 변수로 대입하기

In [67]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [68]:
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

### 2개 이상의 값 넣기

In [69]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

### 이름으로 넣기

In [70]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 인덱스와 이름을 혼용해서 넣기

In [71]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 왼쪽 정렬/ 오른쪽 정렬

In [72]:
"{0:<10}".format("hi")

'hi        '

In [73]:
"{0:>10}".format("hi")

'        hi'

### 가운데 정렬

In [74]:
"{0:^10}".format("hi")

'    hi    '

### 공백 채우기

In [75]:
"{0:=^10}".format("hi")

'====hi===='

In [76]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [77]:
"{0:!>10}".format("hi")

'!!!!!!!!hi'

### 도전하기

In [81]:
"{0:<10}{1:>10}".format("hi",'hcit')

'hi              hcit'

### 소수점 표현하기

In [82]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [83]:
"{0:10.4f}".format(y)

'    3.4213'

### { 또는 } 문자 표현하기

In [84]:
"{{ and }}".format()

'{ and }'

## 문자열: f 문자열 포매팅

In [86]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [87]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

### 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용

In [90]:
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

### 정렬

In [91]:
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [92]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [93]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

### 공백 채우기

In [97]:
y = 3.42134234
f"{y:0.4f}"  # 소수점 4자리까지만 표현

'3.4213'

In [98]:
f"{y:10.4f}"

'    3.4213'

### { } 문자를 표시

In [100]:
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

### 문자 개수 세기(count)

In [104]:
a = "hobby"
a.count("b")

2

### 위치 알려주기1(find)

In [1]:
a = "Python is the best choice"
a.find("b")

14

In [2]:
a.find("k")

-1

### 위치 알려주기2(index)

In [6]:
a = "Life is too short"
a.index("t")

8

In [4]:
a.index("k")

ValueError: substring not found

### 문자열 삽입(join)

In [7]:
",".join("abcd")

'a,b,c,d'

In [8]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

### 소문자를 대문자로 바꾸기(upper)

In [10]:
a = "hi"
a.upper()

'HI'

### 대문자를 소문자로 바꾸기(lower)

In [11]:
a = "IoT"
a.lower()

'iot'

### 왼쪽 공백 지우기(lstrip)

In [12]:
a = " hi "
a.lstrip()

'hi '

### 오른쪽 공백 지우기(rstrip)

In [13]:
a.rstrip()

' hi'

### 양쪽 공백 지우기(strip)

In [14]:
a.strip()

'hi'

### 문자열 바꾸기(replace)

In [15]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

### 문자열 나누기(split)

In [22]:
#리스트로 변환하여 반환

In [23]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [24]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

### 도전하기

In [25]:
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'